{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}

{# Display a form #}

{% if number_list %}
<table class="table">
    <thead>
        <tr>
            <th>Apodo</th>
            <th>Número</th>
            <th>Premio</th>
        </tr>
    </thead>
    <tbody>
    {% for lotteryuser in number_list %}
    <tr><td>{{ lotteryuser.name }}</td><td>{{ lotteryuser.number }}</td><td>{{ lotteryuser.prize }}</td><tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No hay números.</p>
{% endif %}

{% bootstrap_button button_type=link href="/logout/" content="Salir" button_class="btn btn-primary" %}
{% endblock %}
